<!DOCTYPE html>
<!-- AddPfP.cshtml
Created by: Hiren Patel
Purpose: This page is intended to be a page where users can add photos and a profile picture.
-->
<html>
    <!-- Header and Title -->
    <head>
        <title>Add Profile Picture</title>
        <meta charset="utf-8">
        <meta name="description" content="Add Profile Picture">
        <meta name="keywords" content="Add Profile Picture">
        <link rel="stylesheet" href="~/css/style.css">
    </head>
      <div class="headcontain">
    <h1>Last Hope Dating</h1>      
  </div>

<!-- Body -->

<body>
<nav>
  <div class="sidenav">
      <a href="#">Home </a>
      <a href="#">My Account</a>
      <a href="#">Matches</a>
      <a href="#">Help</a>
  </div>
</nav>  

<div class="grid-container">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
 
</div>
<br>
<div class="grid-container">
  <div class="grid-item">4</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
 
</div>
<br>    
<div class="grid-container">
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">9</div>
 
</div>

           <!-- Footer -->
    <div class="footer">
    <h3>&copy; 2022 Last Hope Dating</h3>
	
</div>
    </body>
</html>