<!DOCTYPE html>
<!-- FindMatches.cshtml
Created by: Brandon Bowers
Purpose: This page is intended to be a page where users can match or skip others on the dating site.
-->


<!-- References for Icons -->
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />

<!-- Header -->
<head>
<title> Last Hope Dating </title>
 <meta charset="utf-8">
  </head>
  <div class="headcontain">
    <h1>Last Hope Dating</h1>      
  </div>

<!-- Body -->

<body> 


	
<!-- Navigation Bar -->
<nav>
  <div class="sidenav">
         <a href="@Url.Action("FindMatches", "Home")">Home </a>
      <a href="@Url.Action("Profile", "Home")">My Account</a>
      <a href="@Url.Action("Matched", "Home")">Matches</a>
      <a href="#">Help</a>
  </div>
</nav>
<div class="container">
	<label class="textOverImage" style="background-image:url(../images/hank.jpeg)"</label>
    <input type="checkbox" />
    <h2>Hank Smith</h2>
    <div> <br/> <strong>Bristol, TN</strong><br/><strong>Age:</strong> 87<br/><strong>Retired</strong><br/>Looking to find me a gal to spend the rest of my life with.</div>


</div>
<div class="button-container-div">
	<a class="likereact w3-button w3-xl-large w3-circle w3-xlarge w3-ripple w3-teal" style="z-index:0"><i class="fa fa-heart fa-2x"></i></a>
	<a class="dislikereact w3-button w3-xl-large w3-circle w3-xlarge w3-ripple w3-red" style="z-index:0"><i class="fa fa-x fa-2x"></i></a>
</div>

       <!-- Footer -->
       <div class="container">
<div class="footer">
    <p>&copy; 2022 Last Hope Dating</p>
</div>
</div>


</body>













